body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.header, .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 200px;
    /* position: fixed;
    width: 100%;
    top: 0; */
}

.header-logo h1{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 18px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    height: 400px;
    width: auto;
}

.hero-left-container {
    width: 50%;
}

.hero-right-container {
    width: 50%;
}

.hero-right-container img {
    height: auto;
    width: 300px;
}