body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 300px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h1{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 18px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container, .info-container, .quote-container {
    display: flex;
    background-color: #1f2937;
    padding: 32px 300px;
}

.hero-left-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.hero-right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-left-container h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

.hero-right-container img{
    height: 100%;
    width: 300px;
}

.hero-left-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

.hero-left-container button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    color: #e5e7eb;
    font-weight: 700;
}

.info-container {
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 0px;
}

.info-box-container {
    display: flex;
    justify-content: space-around;
}

.info-box-container div {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    justify-content: space-around;
    align-items: center;
}

.info-box-container img {
    height: auto;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.info-box-container p {
    text-align: center;
}

.quote-container {
    background-color: #e5e7eb;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote figcaption {
    align-self: flex-end;
    font-weight: 700;
    font-size: 18px;
}